<!DOCTYPE html>
<html>
<head>
  <title>Push</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<button id="login">Login</button>
<div id="fb-root"></div>
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.0.5.min.js"></script>
<script type="text/javascript">
var sns = null;
var appId = '258123151058189';
var roleArn = 'arn:aws:iam::072893446206:role/Facebooklogin';
AWS.config.region = 'us-east-1';
window.fbAsyncInit = function() {
  // init the FB JS SDK
  FB.init({appId: appId});

  document.getElementById('login').onclick = function() {
    FB.login(function (response) {
      if (response.authResponse) { // logged in
        AWS.config.credentials = new AWS.WebIdentityCredentials({
          RoleArn: roleArn,
          ProviderId: 'graph.facebook.com',
          WebIdentityToken: response.authResponse.accessToken
        });

        sns = new AWS.SNS();
        var params = {
  Name: 'test1234' // required
};
sns.createTopic(params, function(err, data) {
  if (err) console.log(err, err.stack); // an error occurred
  else     console.log(data);           // successful response
});
var params = {
  AttributeName: 'Policy', // required
  TopicArn: 'arn:aws:sns:us-east-1:072893446206:test1234', // required
  AttributeValue: '{ "Version": "2008-10-17","Id": "__default_policy_ID","Statement": [{"Sid": "__default_statement_ID","Effect": "Allow","Principal": {"AWS": "*"},"Action": ["SNS:Publish","SNS:RemovePermission","SNS:SetTopicAttributes","SNS:DeleteTopic","SNS:ListSubscriptionsByTopic","SNS:GetTopicAttributes","SNS:Receive","SNS:AddPermission","SNS:Subscribe"],"Resource": "arn:aws:sns:us-east-1:072893446206:test134","Condition": {"StringEquals": {"AWS:SourceOwner": "${graph.facebook.com:id}/*"}}}]}'
};
sns.setTopicAttributes(params, function(err, data) {
  if (err) console.log(err, err.stack); // an error occurred
  else     console.log(data);           // successful response
});


var params = {
  Message: 'Hello World', // required
  MessageAttributes: {
    someKey: {
      DataType: 'String',
      StringValue: 'Hello World212' // required
    },
    // anotherKey: ...
  },
  MessageStructure: 'STRING_VALUE',
  TopicArn: 'arn:aws:sns:us-east-1:072893446206:cloudwatch_1'
};
sns.publish(params, function(err, data) {
  if (err) console.log(err, err.stack); // an error occurred
  else     console.log(data);           // successful response
});

        console.log('You are now logged in.');
      } else {
        console.log('There was a problem logging you in.');
      }
    });
  };
};

// Load the FB JS SDK asynchronously
(function(d, s, id){
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement(s); js.id = id;
   js.src = "//connect.facebook.net/en_US/all.js";
   fjs.parentNode.insertBefore(js, fjs);
 }(document, 'script', 'facebook-jssdk'));
</script>
<%= yield %>

</body>
</html>
